.table-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

th {
  border-bottom: solid 1px;
}

th,
td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}

table {
  margin-top: 12px;
  border-top: solid 1px;
}
.btn-danger {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eb4d4b;
  color: #fff;
  width: 20mm;
  height: 11mm;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.05em;
}
